.content {
    margin: 2% 8% 8% 8%;
    text-align: center;
}


.unfriend-bttn {
    background-color: #000000;
    color: white;
    padding: 1% 2%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin: 2%;
}
.chat-bttn {
    background-color: #0275d8;
    color: white;
    padding: 1% 2%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin: 2%;
}