*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    background-color: rgb(182, 222, 235);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.site-name{
    font-size: 28pt;
    font-style: oblique;
}

.nav ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 16pt;

}

.nav a{
    color: inherit;
    text-decoration: none;
}

.nav li:hover{
    background-color: white;
}